.dice{
  width: 100px;
  height: 50px;
  border: 5px solid #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 5px 5px;
  background: #eee;
  user-select: none;
}
.dice__dots{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 40%;
  padding: 10% 5%;
  border-collapse: collapse;
}
.dice__separator{
  background: #000;
  height: 90%;
  width: 3px;
  border-radius: 50px;
}
.dice__dots__dot{
  width: 17%;
  height: 17%;
  background: #000;
  border-radius: 50%;
  margin: 3px 4px;
}