.pile{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: min-content;
  max-height: 90%;
  overflow-y: auto;
  padding: 10px;
  background: #aaa;
  border: 5px solid #000;
  border-radius: 10px;
  z-index: 2;
  cursor: pointer;
}
.pile__dice__hidden{
  display: none;
}
.pile__text{
  text-align: center;
}