.players{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  column-gap: 10px;
  max-height: 410px;
  width: 70%;
  overflow: auto;
}
.player{
  max-width: 300px;
  min-width: 130px;
  min-height: 122.6px;
  height: 100%;
  border: 5px solid #000;
  background: #aaa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player__separator{
  background: #000;
  height: 3px;
  width: 90%;
  border-radius: 50px;
  margin: 5px 0;
}
.player__dice{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}